<div class="container-fluid">
  <div class="row">
    <main role="main" class="px-4">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </main>
  </div>
</div>

<% parent_layout 'application' %>